* {
  font-family: 'IBM Plex Sans', sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #99ccf3;
  overflow-y: scroll;
  -webkit-box-shadow: 0px -2px 41px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 41px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 41px -9px rgba(0, 0, 0, 0.75);
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav h2,
h1,
h2 {
  margin: 0;
}

.location-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.location-container svg {
  align-self: center;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(0 0 0 / 0.95);
}

.modal-content {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: rgb(0 0 0 / 0.3);
  width: 95%;
  margin: 15px;
  margin-top: 130px;
  border: 1px solid #dae2ed;
  color: black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 8px;
  border-radius: 8px;
}

.modal svg {
  align-self: center;
  margin-left: 8px;
  color: white;
}

.location {
  width: 90%;
}

.location-container h2 {
  cursor: pointer;
}

.time-container {
  display: flex;
  padding: 10px;
  align-self: center;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: 2px solid #99ccf3;
}

.select-btn {
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  padding: 8px 2px 8px 12px;
  border-radius: 8px;
  text-align: left;
  line-height: 1.5;
  background-color: '#fff';
  border: 2px solid #99ccf3;
  color: '#1C2025';
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.select-btn:hover {
  outline: 0;
  border-color: '#3399FF';
  background-color: '#F3F6F9';
  box-shadow: 0px 0px 3px '#99CCF3';
}

.list-box {
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 6px;
  margin: 12px 0;
  min-width: 320px;
  border-radius: 12px;
  overflow: auto;
  outline: 0px;
}

.accordion-summary {
  margin: 0;
}
.weather-container {
  height: auto;
  overflow-y: scroll;
}
.weather-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  border: 2px solid #99ccf3;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.units-container {
  display: flex;
}

.units {
  color: #dae2ed;
}

.active {
  color: black;
}
.weather-top {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 15px 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #99ccf3;
}

.weather-bottom {
  display: flex;
  justify-content: space-around;
}

.weather-graph {
  width: 90%;
  border: 1px solid #c7d0dd;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.details {
  display: flex;
  flex-direction: column;
}

.weather-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.temperature {
  font-size: 2rem;
  display: flex;
  gap: 5px;
}

.legend {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  font-weight: 700;
}

.temp {
  color: #00dbde;
}

.humidity {
  color: #0047ab;
}

.windspeed {
  color: #0093e9;
}

.tooltip {
  position: fixed;
  top: 40%;
  right: 30%;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  opacity: 0;
}

@media (max-width: 450px) {
  .navbar-links {
    display: none;
  }
}
