* {
  font-family: 'IBM Plex Sans', sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 0px -2px 41px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 41px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 41px -9px rgba(0, 0, 0, 0.75);
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.location-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.location-container svg {
  align-self: center;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(0 0 0 / 0.95);
}

.modal-content {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: rgb(0 0 0 / 0.3);
  width: 95%;
  margin: 15px;
  margin-top: 130px;
  border: 1px solid #dae2ed;
  color: black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  gap: 8px;
  border-radius: 8px;
}

.modal svg {
  align-self: center;
  margin-left: 8px;
  color: white;
}

.location {
  width: 90%;
}

.location-container h2 {
  cursor: pointer;
}

.time-container {
  display: flex;
  padding: 10px;
  align-self: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.dropdown-arrows {
  margin-left: 15px;
  color: darkgray;
}

.weather-info-container {
  display: flex;
  justify-content: space-around;
}

.weather-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.temperature {
  font-size: 2rem;
}
.weather-graph {
  position: relative;
}
.tooltip {
  position: absolute;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  opacity: 0;
  display: none;
}

@media (max-width: 450px) {
  .navbar-links {
    display: none;
  }
}
